body {

    margin: 0;

    padding: 0;

    height: 100%;

    width: 100%;
    background-color: black;

}

.box {

    margin: 10px;

    background: #fff;

    color: rgba(133, 133, 133, 1.0);

    border:.5px solid black;

    box-sizing: border-box ;

    box-shadow: 0 0 10px rgb(230,230,230);

}
div{
            color:black;   
            font-size: 20px;
            position:relative;
            bottom: 20px;
                }

input[type=text], input[type=text]:hover {

    color: rgba(60, 60, 60, 1.0);

    margin-left: 10px;

    padding: 5px;

    font-weight: bold;

    background: transparent;

    border-top: none;

    border-left: none;

    border-right: none;

    border-bottom: 1px solid gray;

}

.title {

    color: rgba(255, 75, 89, 1.0);

    margin-left: 10px;

    margin-right: 10px;

    margin-bottom: 15px;

    padding: 5px;

    text-align: center;

    font-weight: bold;

    border: .5px solid rgba(60, 60, 60, 1.0);

    border-radius: 35px;

    box-shadow: 2px 2px 5px inset rgb(230,230,230);

}

.body {

    padding: 10px;

}

.result {

    color: red;

    padding: 0 10px;

}

.footer {

    color: rgba(2, 255, 148, 1.0);

    margin-top: 30px;

    padding: 5px 10px;

    font-weight: bold;

    text-align: right;

    border-top: .5px solid rgba(60, 60, 60, 1.0);

}

